<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindEE</title>
  <link rel="stylesheet" href="./styles/main.css">

</head>

<body>
  <style>
    .centered-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      height: 100vh;
      transform: translateY(-300px);
      
    }

    #List {
      font-family: Arial, sans-serif;
      color: white;
    
    }

    #form {
      margin-bottom: 20px;
    
    }

  
    #select {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      
    }

    
    #input[type="text"] {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      
    }

    button[type="submit"],
    #input[type="submit"] {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      
    }

    
    #label {
      margin-bottom: 6px;
      display: block;
      
    }
    
    .cimg_1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #cimg {
      
      height: 500px;
      width: 80%; 
      border: 20px solid #21252b; 
      box-sizing: border-box; 
    }


  </style>
  <header>
    <div class="logo">
      <img src="https://drive.google.com/thumbnail?id=120phk9-0t8VrLBvDvyBOXHPjC2LcjHU7&sz=w1000" alt="Logo" class="logo-img">
    </div>
    <div>
      <h1>FindEE</h1>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contribution">Contribution</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="search-form">
      <form action="/Search" method="GET">
        <label for="searchQuery"></label>
        <input type="text" id="searchQuery" name="query" placeholder="Enter search query">
        <button type="submit">Search</button>
      </form>

    </div>


  </header>
  <div class="cimg_1">
    <img  id="cimg" src="https://www6.royalbank.com/assets/di-secure/images/article/investing-academy/2020/tfsa-contribution-limit-609x414.jpg">
  
  </div>
  
  <div class="centered-container">
    <h1 id="List">Select a subject for solve questions</h1>
    <form id="form" action="/submit" method="post">
      <select id="select" name="itemId">
        <% items.forEach(item=> { %>
          <option value="<%= item.subject %>">
            <%= item.subject %>
          </option>
          <% }); %>
      </select>
      <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <h1 id="List">Add a Subject</h1>
    <form id="form" action="/addSubject" method="post">
      <input id="input" type="text" id="subjectName" name="subjectName" placeholder="Enter Subject">
      <input id="input" type="submit" value="Submit">
    </form>
  </div>
  <br>
  <br>
  <section class="footer">
        
    <div class="copy">
        <span>&copy; Designed by Malla Jaya Venkata Kiran</span>
    </div>
  </section>







  <script>
    document.getElementById("myButton").onclick = function () {
      this.style.backgroundColor = "red";
    };

    document.getElementById('myButton').addEventListener('click', async function (event) {
      event.preventDefault();

      const selectedElements = document.getElementById('selectedElements').value;


    });


    fetch('/options')
      .then(response => response.json())
      .then(options => {
        const selectElement = document.getElementById('selectedElements');
        options.forEach(optionValue => {
          const option = document.createElement('option');
          option.value = optionValue;
          option.textContent = optionValue;
          selectElement.appendChild(option);
        });
      })
      .catch(error => console.error('Error fetching options:', error));

    
    document.querySelectorAll('.card__btn').forEach(button => {
      button.addEventListener('click', (event) => {
        
        event.preventDefault();
        window.location.href = event.target.href;
      });
    });





  </script>
</body>

</html>